body{
   background-color: rgb(255,203 ,219) ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.button{
    background-color: rgb(160,225,153);
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
body{
    font-family: 'Shadows Into Light', cursive;
}